/*Especificidad: (0,0,1)*/
body {
    font-family: "Cambria Math", sans-serif;
    background-color:#E7D8E9;
    color:rgb(0, 0, 0);
}

/*Especificidad: (0,0,1)*/
h1 {
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    color: white;
}

/*Especificidad: (0,0,1)*/
button  {
    background-color: rgb(236, 236, 219);
    border-radius: 10%;
    margin: 1em;
}

/*Especificidad: (0,0,1)*/
h2 {
    font-size: 1.3em;
    background-color:#3F0141;
    color: white;
}

/*Especificidad: (0,0,1)*/
label {
    font-size: 1.2em;
}

/*Especificidad: (0,0,1)*/
input{
    font-size: 1.2em;
    margin: 1em;
}

/*Especificidad: (0,0,1)*/
h3{
    background-color: #59015B;
    color: white;
}



