/*Especificidad: (0,0,1)*/
body {
    font-family: "Cambria Math", sans-serif;
    background-color: #d8d6d6; 
    color: black;    
}

/*Especificidad: (0,0,1)*/
form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.2em;
    min-height: 95vh;
}

/*Especificidad: (0,0,1)*/
label{
    font-size: 1.5em;
}

/*Especificidad: (0,1,1)*/
input[type=button]  {
    background-color: #c4c2c2;
    font-size: 1.5em;
}

/*Especificidad: (0,2,1)*/
input[type=button][ value = "0"],
input[type=button][ value = "1"],
input[type=button][ value = "2"],
input[type=button][ value = "3"],
input[type=button][ value = "4"],
input[type=button][ value = "5"],
input[type=button][ value = "6"],
input[type=button][ value = "7"],
input[type=button][ value = "8"],
input[type=button][ value = "9"],
input[type=button][ value = "."]
{
    background-color: #ffffff;
}

/*Especificidad: (0,2,1)*/
input[type=button][ value = "="]{
    background-color: #b8dfeb;
}


/*Especificidad: (0,2,1)*/
input[type=button][ value = "F-E"],
input[type=button][ value = "HYP"],
input[type=button][ value = "DEG"],
input[type=button][ value = "RAD"],
input[type=button][ value = "GRAD"],
input[type=button][ value = "MS"],
input[type=button][ value = "M-"],
input[type=button][ value = "Mc"],
input[type=button][ value = "Mr"],
input[type=button][ value = "M+"]
{
    background-color:#d8d6d6;
}


/*Especificidad: (0,2,1)*/
input[type=text][name="pantalla"] {
    grid-column: span 5;
}

/*Especificidad: (0,1,1)*/
input[type=text]{
    background-color:#d8d6d6;
    color: black;
    font-size: 150%;
    border: none;
    text-align: center;
}



